@page
@model Regular.Pages.Manage.ManageModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regular - مدیریت</title>

    <!-- Bootstrap Icon v1.11.0 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

    <!-- Bootstrap Styles v5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- OWL Carousel Styles CDNs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Normalize Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- AOS  -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.css" rel="stylesheet">

    <!-- Primary Icon -->
    <link rel="shortcut icon" href="/FrontEnd/global/media/icons/logo.png" type="image/x-icon">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/FrontEnd/global/public.css">
    <link rel="stylesheet" href="/FrontEnd/Manage/manage.css">
</head>


<body dir="rtl" class="overflow-x-hidden">
    <div class="container-fluid p-0 d-flex align-items-center justify-content-center" style="height: 100vh;">

        <!-- OffCanvas button -->
        <button id="btnShowMenuToggler" onclick="ShowoffcanvasMenu()"
                class="btn m-2 position-fixed top-0 end-0 z-3 border-0 visually-hidden" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            <img src="/FrontEnd/global/media/icons/Menu.png" class="boxShadow-secondary boxShadow-hover rounded-circle"
                 width="50px" height="50px">
        </button>

        <!-- OffCanvas menu -->
        <div id="offcanvasMenu" class="offcanvas offcanvas-end bc-primary show rounded-start-5" data-bs-scroll="true"
             data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <a href="/FrontEnd/index.html"
                   class="offcanvas-title text-decoration-none text-black d-flex justify-content-center align-items-center"
                   id="offcanvasExampleLabel">
                    <img src="/FrontEnd/global/media/icons/logo.png" width="40px" height="40px" alt="hyper cloud logo">
                    <span class="app-brand-text demo menu-text text-white fs-4 fw-bold me-2">R e g u l a r</span>
                </a>
                <button type="button" onclick="HideoffcanvasMenu()" class="btn border-0" data-bs-dismiss="offcanvas">
                    <img src="/FrontEnd/global/media/icons/Menu.png"
                         class="boxShadow-secondary boxShadowSecondary-hover rounded-circle" width="40px" height="40px">
                </button>
            </div>
            <div class="offcanvas-body overflow-x-hidden px-3 m-0 d-flex justify-content-center w-100">
                <div class="w-100 d-flex flex-column align-items-center">
                    <div class="row w-100">
                        <div class="inputBox row bg-light rounded-4 d-flex justify-content-between p-0 m-0">
                            <input class="border-0 col-10 h-100 px-3 bg-transparent" name="txtSearch" id="txtSearch"
                                   type="text" placeholder="جستجو" />
                            <button class="btn border-0 col-2">
                                <img src="/FrontEnd/global/media/icons/search.png"
                                     class="boxShadow-secondary boxShadowSecondary-hover rounded-circle p-2" width="40px"
                                     height="40px">
                            </button>
                        </div>
                    </div>
                    <div class="row w-100 mt-5 d-flex justify-content-center align-items-center">
                        <h5 class="col-10">پروژه ها</h5>
                        <a href="/Customer/Manage/ProjectsList" class="col-2 fs-2 text-center bg-transparent border-0">
                            <img src="/FrontEnd/global/media/icons/add.png" width="40px" height="40px">
                        </a>
                        <h5 class="mt-2 border-1 border-bottom"></h5>
                    </div>
                    <div class="row w-100">
                        <ul class="list-unstyled">
                            @foreach(var item in Model.Projects)
                            {
                                <li class="cursor-pointer d-flex align-items-center justify-content-between boxShadowSecondary-hover boxShadow-secondary rounded-2 py-2 px-3 my-3 fs-5">
                                    <div class="col-7">
                                        <h5 class="text-white my-0 overflow-hidden">@item.ProjectName</h5>
                                    </div>
                                    <span class="badge fs-6 text-bg-danger col-2 overflow-hidden">@item.TasksCount</span>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="row w-100 mt-3 d-flex justify-content-center align-items-center">
                        <h5 class="col-10">وظایف</h5>
                        <button class="col-2 fs-2 text-center bg-transparent border-0">
                            <img src="/FrontEnd/global/media/icons/add.png" width="40px" height="40px">
                        </button>
                        <h5 class="mt-2 border-1 border-bottom"></h5>
                    </div>
                    <div class="row w-100">
                        <ul class="list-unstyled">
                            <li class="cursor-pointer d-flex justify-content-between boxShadowSecondary-hover boxShadow-secondary bg-light border border-1 border-light rounded-2 py-2 px-3 my-3 fs-5">
                                همه
                                <span class="badge fs-6 text-bg-danger col-2 overflow-hidden">@Model.allTasksCount</span>
                            </li>
                            <li class="cursor-pointer d-flex justify-content-between boxShadowSecondary-hover boxShadow-secondary bg-warning border border-1 border-light rounded-2 py-2 px-3 my-3 fs-5">
                                درحال انجام
                                <span class="badge fs-6 text-bg-danger col-2 overflow-hidden">@Model.inProgressTasksCount</span>
                            </li>
                            <li class="cursor-pointer d-flex justify-content-between boxShadowSecondary-hover boxShadow-secondary bg-success border border-1 border-light rounded-2 py-2 px-3 my-3 fs-5">
                                انجام شده
                                <span class="badge fs-6 text-bg-danger col-2 overflow-hidden">@Model.doneTasksCount</span>
                            </li>
                            <li class="cursor-pointer d-flex justify-content-between boxShadowSecondary-hover boxShadow-secondary bg-secondary border border-1 border-light rounded-2 py-2 px-3 my-3 fs-5">
                                برای بررسی
                                <span class="badge fs-6 text-bg-danger col-2 overflow-hidden">@Model.inPreviewTasksCount</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row w-100 mt-3 d-flex justify-content-center align-items-center">
                        <h5 class="col-10">همکاران</h5>
                        <button class="col-2 fs-2 text-center bg-transparent border-0">
                            <img src="/FrontEnd/global/media/icons/add.png" width="40px" height="40px">
                        </button>
                        <h5 class="mt-2 border-1 border-bottom"></h5>
                    </div>
                    <div class="row w-100">
                        <ul class="list-unstyled">
                            @if(Model.Users != null)
                            {
                                @foreach (var item in Model.Users)
                                {
                                    <li class="cursor-pointer d-flex align-items-center boxShadowSecondary-hover boxShadow-secondary rounded-2 py-1 px-3 my-3 fs-5">
                                        <div class="col-3">
                                            <img src="/FrontEnd/global/media/Customer/Users/01_Person.jpg"
                                                 class="rounded-circle" width="60px" height="60px">
                                        </div>
                                        <div class="col-7">
                                            <h5 class="text-white my-0 overflow-hidden">@item.FullName</h5>
                                            <span class="text-white-50 fs-6 overflow-hidden">
                                                فعالیت روزانه : <span class="text-white">@item.DailyTimeSpend</span>
                                            </span>
                                        </div>
                                        <span class="badge fs-6 text-bg-danger col-2 overflow-hidden">@item.TasksCount</span>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End OffCanvas menu -->

        <div id="menuBox-Temp" class="col-lg-4 col-xxl-4" style="height: 100vh;"></div>

        <!-- Main -->
        <main id="mainBox" class="col-lg-8 col-xxl-6 d-flex justify-content-center align-items-center p-3"
              style="height: 95vh;">
            <div class="w-100 h-100 d-flex justify-content-center bg-light rounded-4 p-3">
                <div class="w-100">
                    <table class="table table-light table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">کد وظیفه</th>
                                <th scope="col">عنوان</th>
                                <th scope="col">مسئول</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.Tasks)
                            {
                                <tr class="boxShadowSecondary-hover cursor-pointer" onclick="ToggleSecondOffcanvasMenu()">
                                    <th scope="row">1</th>
                                    <td>@item.UserId</td>
                                    <td>@item.Title</td>
                                    <td>@item.User.Email</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <!-- End Main -->
        <!-- Second OffCanvas menu -->
        <div id="SecondOffcanvasMenu" class="offcanvas offcanvas-start bc-secondary rounded-end-5" data-bs-scroll="true"
             style="width: 300px;" data-bs-backdrop="false" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header w-100 text-start">
                <button type="button" onclick="ToggleSecondOffcanvasMenu()" class="btn border-0"
                        data-bs-dismiss="offcanvas">
                    <img src="/FrontEnd/global/media/icons/Close_512px.png"
                         class="boxShadow-secondary boxShadowSecondary-hover rounded-circle p-1" width="30px"
                         height="30px">
                </button>
            </div>
            <div class="offcanvas-body overflow-x-hidden px-3 py-0 m-0 d-flex flex-column align-items-center w-100">
                <div class="row w-100 d-flex flex-column">
                    <a href="#" class="btn btn-link w-100 text-end tc-primary fs-5">T-54</a>
                    <h5 class="text-white text-nowrap text-end">حذف داده های اضافی</h5>
                </div>
                <div class="row w-100 mt-3 d-flex text-white-50">
                    <span>پروژه : <span class="text-white fs-6">پروژه آزمایشی 1</span></span>
                    <span>نوع وظیفه : <span class="text-white fs-6">رفع باگ</span></span>
                </div>
                <div class="row w-100 mt-3 d-flex text-white-50">
                    <span>کد مسئول : <span class="text-white fs-6">U-53</span></span>
                    <span>نام مسئول : <span class="text-white fs-6">رضا احمدی</span></span>
                </div>
                <div class="row w-100 mt-3 d-flex text-white-50">
                    <span>زمان تقریبی : <span class="text-white fs-6">5 ساعت</span></span>
                    <span>زمان ثبت شده : <span class="text-white fs-6">3 ساعت</span></span>
                </div>
                <div class="row w-100 mt-3 d-flex text-white-50">
                    <span>وضعیت وظیفه : <span class="text-warning fs-5">درحال انجام</span></span>
                    <span>سطح اولویت : <span class="text-danger fs-5">بالا</span></span>
                </div>
                <div class="row w-100 mt-3 d-flex text-white-50">
                    <span>مشکل در نسخه : <span class="text-white fs-6">2.1.0</span></span>
                    <span>اصلاح در نسخه : <span class="text-white fs-6">2.2.0</span></span>
                </div>
                <div class="row w-100 mt-3 d-flex text-white-50">
                    <span>تاریخ ایجاد : <span class="text-white fs-6">1402/09/01</span></span>
                    <span>تاریخ آپدیت : <span class="text-white fs-6">1402/09/05</span></span>
                </div>
                <div class="row w-100 mt-3 d-flex text-white-50">
                    <span>
                        توضیحات : <span class="text-white fs-6">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                            </p>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <!-- End Second OffCanvas menu -->
    </div>

    <!-- Footer -->
    <footer class="d-flex align-items-center justify-content-center py-3 w-100 pt-5" dir="rtl">
        <div class="container-xxl">
            <div class="mb-2 mb-md-0 text-center text-white">
                ©
                ساخته شده با ❤️ توسط
                <a href="https://hyperclouds.ir" target="_blank"
                   class="footer-link fw-bolder text-decoration-none">HyperClouds</a>
                (
                <script>document.write(new Date().getFullYear());</script>)
            </div>
        </div>
    </footer>



    <!-- Loading page -->
    <!-- <div id="loader-animation"
        class="position-fixed top-0 d-flex justify-content-center bc-blur-primary align-items-center w-100 h-100"
        style="z-index: 1100;">
        <div class="d-flex justify-content-center align-items-center my-3 p-3 position-fixed bc-blur-secondary rounded-5">
            <div class="wrapper bg-transparent">
                <svg>
                    <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                        R e g u l a r
                    </text>
                </svg>
            </div>
                        <img src="/FrontEnd/global/media/icons/logo.png" alt="LOGO" width="200rem" height="200rem"
                class="loaderAnimation-picture" data-aos="fade-down" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
        </div>
    </div> -->
    <!-- JQuery Script CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- OWL Carousel Scripts CDNs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap Script v5.3.2 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <!-- Custom Scripts -->
    <script src="/FrontEnd/global/public.js"></script>
    <script src="/FrontEnd/Manage/manage.js"></script>


    <!-- AOS Configuration -->
    <script>
        AOS.init({
            duration: 1500
        });
        ShowLoadingPageAnimation();
    </script>
</body>

</html>