@page
@model Regular.Pages.Customer.Manage.ProjectUpsertModel
@{
}

<div class="p-5" style="height: 100vh;">

    <div class="row px-2">
        <h2 class="text-primary fw-bolder fs-3 col-sm-8 col-12">@(Model.Project.Id == 0 ? "افزودن" : "ویرایش") پروژه</h2>
    </div>
    <hr />

    <form method="post" enctype="multipart/form-data">
        <fieldset>
            @*Id*@
            <input asp-for="@Model.Project.Id" hidden />

            @*Coffee Name*@
            <div class="form-group">
                <label asp-for="@Model.Project.ProjectName" class="form-label mt-4"></label>
                <input class="form-control" asp-for="@Model.Project.ProjectName">
                <span asp-validation-for="@Model.Project.ProjectName" class="form-text text-danger"></span>
            </div>

            @*Rate and Price*@
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Project.TasksCount" class="form-label mt-4"></label>
                        <input type="number" class="form-control" asp-for="@Model.Project.TasksCount">
                        <span asp-validation-for="@Model.Project.TasksCount" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Project.UserId" class="form-label mt-4"></label>
                        <input type="number" class="form-control" asp-for="@Model.Project.UserId">
                        <span asp-validation-for="@Model.Project.UserId" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row btn-group my-5 pb-5 w-100">
                @{
                    if (Model.Project.Id == 0)
                    {
                        <button type="submit" onclick="return validate()" class="btn btn-success col-8 mx-1">افزودن</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-warning col-8 mx-1">ویرایش</button>
                    }
                }
                <a class="btn btn-outline-secondary col-3 mx-1" asp-page="/Customer/Manage/ProjectsList">برگشت به لیست</a>
            </div>

        </fieldset>
    </form>


    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</div>