@page
@model Regular.Pages.Customer.Manage.Tasks.TaskUpsertModel
@{
}


<div class="p-5">

    <div class="row px-2">
        <h2 class="text-primary fw-bolder fs-3 col-sm-8 col-12">@(Model.Tasks.Id == 0 ? "افزودن" : "ویرایش") وظیفه</h2>
    </div>
    <hr />

    <form method="post" enctype="multipart/form-data">
        <fieldset>

            @*Id*@
            <input asp-for="@Model.Tasks.Id" hidden />

            <div class="form-group">
                <label asp-for="@Model.Tasks.Title" class="form-label mt-4"></label>
                <input class="form-control" asp-for="@Model.Tasks.Title">
                <span asp-validation-for="@Model.Tasks.Title" class="form-text text-danger"></span>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Tasks.ProjectId" class="form-label mt-4"></label>
                        <select asp-for="@Model.Tasks.ProjectId" class="form-select" aria-label="Default select example">
                            <option selected>پروژه مورد نظر را انتخاب کنید</option>
                            @foreach (var project in Model.Projects)
                            {
                                <option value="@project.Id">@project.ProjectName</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.Tasks.ProjectId" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Tasks.UserId" class="form-label mt-4"></label>
                        <select asp-for="@Model.Tasks.UserId" class="form-select" aria-label="Default select example">
                            <option selected>مسئول مورد نظر را انتخاب کنید</option>
                            @if(Model.Users != null)
                            {
                                foreach (var user in Model.Users)
                                {
                                    <option value="@user.Id">@user.FullName</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="@Model.Tasks.UserId" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Tasks.TaskType" class="form-label mt-4"></label>
                        <select asp-for="@Model.Tasks.TaskType" class="form-select" aria-label="Default select example">
                            <option selected value="رفع باگ">رفع باگ</option>
                            <option value="بهبود">بهبود</option>
                            <option value="قابلیت جدید">قابلیت جدید</option>
                        </select>
                        <span asp-validation-for="@Model.Tasks.TaskType" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Tasks.TaskStatus" class="form-label mt-4"></label>
                        <select asp-for="@Model.Tasks.TaskStatus" class="form-select" aria-label="Default select example">
                            <option selected value="برای بررسی">برای بررسی</option>
                            <option value="درحال انجام">درحال انجام</option>
                            <option value="انجام شده">انجام شده</option>
                        </select>
                        <span asp-validation-for="@Model.Tasks.TaskStatus" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Tasks.TaskPriority" class="form-label mt-4"></label>
                        <select asp-for="@Model.Tasks.TaskPriority" class="form-select" aria-label="Default select example">
                            <option selected value="معمولی">معمولی</option>
                            <option value="فوری">فوری</option>
                            <option value="با اهمیت">با اهمیت</option>
                            <option value="بی اهمیت">بی اهمیت</option>
                        </select>
                        <span asp-validation-for="@Model.Tasks.TaskPriority" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Tasks.EstimateTime" class="form-label mt-4"></label>
                        <input class="form-control" asp-for="@Model.Tasks.EstimateTime">
                        <span asp-validation-for="@Model.Tasks.EstimateTime" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Tasks.LogedTime" class="form-label mt-4"></label>
                        <input class="form-control" asp-for="@Model.Tasks.LogedTime">
                        <span asp-validation-for="@Model.Tasks.LogedTime" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Tasks.BeforeVersion" class="form-label mt-4"></label>
                        <input class="form-control" asp-for="@Model.Tasks.BeforeVersion">
                        <span asp-validation-for="@Model.Tasks.BeforeVersion" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="@Model.Tasks.AfterVersion" class="form-label mt-4"></label>
                        <input class="form-control" asp-for="@Model.Tasks.AfterVersion">
                        <span asp-validation-for="@Model.Tasks.AfterVersion" class="form-text text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Tasks.Description" class="form-label mt-4"></label>
                <textarea class="form-control" asp-for="@Model.Tasks.Description"></textarea>
                <span asp-validation-for="@Model.Tasks.Description" class="form-text text-danger"></span>
            </div>


            <div class="row btn-group my-5 pb-5 w-100">
                @{
                    if (Model.Tasks.Id == 0)
                    {
                        <button type="submit" onclick="return validate()" class="btn btn-success col-8 mx-1">افزودن</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-warning col-8 mx-1">ویرایش</button>
                    }
                }
                <a class="btn btn-outline-secondary col-3 mx-1" asp-page="/Customer/Manage/Tasks/TasksList">برگشت به لیست</a>
            </div>

        </fieldset>
    </form>


    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
