@page
@using Datalayer.Models
@using Datalayer.Repository.IRepository
@model Regular.Pages.Customer.UserPanelModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regular - مدیریت</title>
    <!-- Bootstrap Styles v5.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/src/CSS/userPanel.css" />
    <link rel="stylesheet" href="/src/global/main.css" />
    <!-- WebSite Icon -->
    <link rel="shortcut icon" href="/src/media/Logo/regular-favicon-color.png" type="image/x-icon" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- HC-Web-Module Styles -->
    <link rel="stylesheet" href="/src/CSS/HC-Web-Module/HC-Styles.css" />
    <!-- Toastr Styles -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>


<body dir="rtl" class="overflow-x-hidden overflow-y-auto bc-darkBlue">
    <div class="container-fluid">
        <header></header>

        <main>
            <div class="container-fluid p-0 d-flex align-items-center justify-content-center">
                <!-- OffCanvas button -->
                <button id="btnShowMenuToggler" onclick="ShowoffcanvasMenu()"
                        class="offcanvas-hoverButton btn m-2 position-fixed top-0 end-0 z-3 border-0 visually-hidden text-white hc-fs-title2"
                        type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                        aria-controls="offcanvasScrolling">
                    <i class="bi bi-menu-app" data-bs-toggle="tooltip" data-bs-title="منو" data-bs-placement="bottom"></i>
                </button>

                <!-- OffCanvas menu -->
                <div id="offcanvasMenu" class="offcanvas offcanvas-end rounded-start-5" data-bs-scroll="true"
                     data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel"
                     style="background-color: #f2f2f2">
                    <!-- offcanvas header -->
                    <div class="offcanvas-header d-flex justify-content-between">
                        <a href="/"
                           class="offcanvas-title text-decoration-none text-black d-flex justify-content-center align-items-center"
                           id="offcanvasExampleLabel">
                            <img src="/src/media/Logo/regular-favicon-color.png" width="50px" height="50px" alt="hyper cloud logo"
                                 class="rounded-circle" style="box-shadow: 0 0 10px white" />
                            <span class="app-brand-text demo menu-text text-black fs-4 fw-bold me-2"
                                  style="text-shadow: 0 0 1px var(--c-primary)">Regular</span>
                        </a>
                        <button type="button" onclick="HideoffcanvasMenu()" class="offcanvas-hoverButton btn border-0"
                                data-bs-dismiss="offcanvas">
                            <i class="bi bi-x-circle fs-2 tc-primary" data-bs-toggle="tooltip" data-bs-title="بستن منو"
                               data-bs-placement="bottom"></i>
                        </button>
                    </div>
                    <!-- offcanvas body -->
                    <div class="offcanvas-body overflow-x-hidden px-3 m-0 d-flex flex-column align-items-center justify-content-start w-100">

                        <!-- Logged In User Info -->
                        <div class="w-100 border border-1 rounded-3 bc-lightCyan p-3 mb-5 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="@Model.loggedInUser.ImageName" alt="" class="rounded-circle ms-3" width="45" height="45">
                                <a href="/customer/userdashboard" class="d-flex align-items-center">
                                    <span class="text-black hc-fs-paragraph2">@Model.loggedInUser.FullName</span>
                                </a>
                            </div>
                            <div>
                                <a href="/customer/login-register" class="bc-lightBlue rounded-3 border-0 hc-fs-paragraph1 p-2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="تعویض حساب کاربری"><i class="bi bi-arrow-clockwise  d-flex justify-content-center align-items-center"></i></a>
                            </div>
                        </div>

                        <!-- Menu buttons -->
                        <div class="w-100 d-flex justify-content-start align-items-center border border-bottom-1 border-top-0 border-start-0 border-end-0 pb-4">
                            <button class="btn btn-dark dropdown-toggle rounded-0 rounded-end-3 bc-darkBlue w-75 border border-0 py-2 d-flex justify-content-center align-items-center"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                @{
                                    if (Model.OrganizationsList.Count > 0)
                                    {
                                        <span id="ddlOrganization" class="px-1" data-id="@Model.OrganizationsList[0].Id">@Model.OrganizationsList[0].Title</span>
                                    }
                                    else
                                    {
                                        <span id="ddlOrganization" class="px-1" data-id="0">سازمان ها</span>
                                    }
                                }
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end bc-darkBlue w-75 py-0" id="organizationsList">
                                @{
                                    foreach (var item in Model.OrganizationsList)
                                    {
                                        <li class="d-flex flex-column align-items-center">
                                            <a class="dropdown-item text-end text-white py-3" onclick="UpdateProjectsByOrganizationId('@item.Id', '@item.Title')">
                                                <span>
                                                    @item.Title
                                                </span>
                                            </a>
                                            <div class="row w-100">
                                                <div class="col-sm-12 col-md-6 px-1">
                                                    <button onclick="EditItem('سازمان', @item.Id)" class="btn bg-warning w-100 d-flex justify-content-center align-items-center hc-fs-span3 my-1">
                                                        <i class="bi bi-pencil-square ms-1"></i>
                                                        <span>ویرایش</span>
                                                    </button>
                                                </div>
                                                <div class="col-sm-12 col-md-6 px-1">
                                                    <button onclick="DeleteItem('Organization', @item.Id)" class="btn bg-danger w-100 d-flex justify-content-center align-items-center hc-fs-span3 my-1">
                                                        <i class="bi bi-trash ms-1"></i>
                                                        <span>حذف</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                            <button onclick="ResetModals()" data-bs-toggle="modal" data-bs-target="#newOrganizationModal" class="btnNewOrganization rounded-start-3 py-2 px-3 border-bottom-0 border-top-0 border-start-0 border-end-3 border-white bc-primary text-white">
                                <i class="bi bi-plus-circle"></i>
                            </button>
                        </div>

                        <!-- Menu Items List -->
                        <div class="mt-3 w-100">
                            <ul class="list-unstyled w-100 m-0 p-0 d-flex flex-column justify-content-start">
                                <a onclick="UpdateProjectsByOrganizationId()">
                                <li id="userPanel-menuItem-active" class="userPanel-menuItem-active userPanel-menuItem py-3 px-5 fs-5 fw-bold w-100 rounded-start-4">
                                    پروژه ها
                                </li>
                                </a>
                                <a onclick="UpdateTasksByOrganizationId()">
                                <li class="userPanel-menuItem py-3 px-5 fs-5 fw-bold w-100 rounded-start-4">
                                    همه وظایف
                                </li>
                                </a>
                                <a onclick="UpdateEmployeesByOrganizationId()">
                                <li class="userPanel-menuItem py-3 px-5 fs-5 fw-bold w-100 rounded-start-4">
                                    همکاران
                                </li>
                                </a>
                                <a onclick="UpdateSentEmployeeInvitesByOrganizationId()">
                                <li class="userPanel-menuItem py-3 px-5 hc-fs-span1 fw-bold w-100 rounded-start-4">
                                    درخواست های همکاری <b class="hc-fs-paragraph3 tc-darkBlue">ارسالی</b>
                                </li>
                                </a>
                            </ul>
                        </div>

                        <!-- pro user panel button -->
                        <a href=""
                           class="btn hc-btn-lg rounded-4 text-center align-items-center d-none justify-content-center mt-5">
                            پنل
                            مدیریت
                            حرفه‌ای
                        </a>
                    </div>
                </div>
                <!-- End OffCanvas menu -->

                <div id="menuBox-Temp" class="col-lg-4 col-xxl-4" style="height: 100vh"></div>

                <!-- Main -->
                <div id="mainBox" class="col-lg-8 col-xxl-6 d-flex justify-content-start align-items-start p-3"
                     style="height: 95vh">
                    <div class="row w-100 d-flex justify-content-center">
                        <!-- Search Box -->
                        <div class="row">
                            <input type="search" onkeyup="filterItems(this.value)" class="form-control border-0 tc-lightBlue fs-5 py-2" placeholder="جستجو" />
                        </div>

                        <div id="itemsList" class="row w-100 d-flex justify-content-center">
                            @foreach (var project in Model.ProjectsList)
                            {
                                <!-- item card -->
                                <div class="col-lg-4 col-md-4 col-sm-6 p-3">
                                    <div class="userPanel-itemCard hc-box bc-primary">
                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                <!-- item card image -->
                                                <img src="/src/media/Logo/regular-favicon-color.png" alt="item card image" width="65px"
                                                     height="65px" />
                                                <!-- item card title -->
                                                <h3 class="hc-fs-paragraph2 my-2 text-center truncate" onclick="UpdateTasksByProjectId(@project.Id)">
                                                    <span class="itemCard-title truncate">@project.Title</span>
                                                </h3>
                                                <!-- item card tags -->
                                                <div class="itemCard-tagBox d-flex flex-column justify-content-center align-items-center py-3">
                                                    <span class="itemCard-tag p-1 px-3 bc-darkBlue rounded-3 text-white hc-fs-span3 my-1">
                                                        انجام شده : @project.TasksStatusPercent%
                                                    </span>
                                                    <span class="itemCard-tag p-1 px-3 bc-darkBlue rounded-3 text-white hc-fs-span3 my-1">
                                                        تعداد وظایف : @project.TasksCount
                                                    </span>
                                                </div>

                                                <!-- item card buttons -->
                                                <div class="row w-100">
                                                    <div class="col-sm-12 col-md-6 px-1">
                                                        <button onclick="EditItem('پروژه', @project.Id)" class="btn bg-warning w-100 d-flex justify-content-center align-items-center hc-fs-span3 my-1">
                                                            <i class="bi bi-pencil-square ms-1"></i>
                                                            <span>ویرایش</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6 px-1">
                                                        <button onclick="DeleteItem('Project', @project.Id)" class="btn bg-danger w-100 d-flex justify-content-center align-items-center hc-fs-span3 my-1">
                                                            <i class="bi bi-trash ms-1"></i>
                                                            <span>حذف</span>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                    </div>
                                </div>
                                <!-- end item card -->
                            }

                            <!-- item card (new button) -->
                            <div class="col-lg-4 col-md-4 col-md-4 col-sm-6 p-3" onclick="ResetModals()">
                                <div class="userPanel-itemCard hc-box bc-primary" data-bs-toggle="modal"
                                     data-bs-target="#newProjectModal">
                                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                        <!-- item card icon -->
                                        <i class="fa-solid fa-plus text-white hc-fs-title1" aria-hidden="true"></i>
                                        <!-- item card title -->
                                        <h3 class="hc-fs-paragraph2 my-2 text-center">
                                            افزودن پروژه جدید
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!-- end item card (new button) -->

                        </div>




                    </div>
                </div>
                <!-- End Main -->
            </div>
        </main>

        <footer></footer>
    </div>


    <!-- Add New Project Modal -->
    <div class="modal fade" id="newProjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header w-100 d-flex justify-content-between bc-lightCyan">
                    <h1 class="modal-title fs-5 text-black" id="newProjectModalTitle">
                        افزودن پروژه
                    </h1>
                    <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bc-darkBlue text-white">
                    <!-- Add new project modal body -->
                    <form id="projectForm" method="post" enctype="multipart/form-data">
                        <input name="Id" id="projectForm_id" hidden />
                        <div class="mb-3">
                            <label class="form-label">عنوان پروژه</label>
                            <input type="text" class="form-control border-0 tc-lightBlue fs-5 py-2 mb-3" name="Title"
                                   placeholder="تکمیل طراحی اولیه" id="projectForm_title" />
                            <span class="text-danger" asp-validation-for="@Model.Project.Title"></span>
                        </div>

                        <div class="mb-3">
                            <label for="formEmployees" class="form-label">همکاران</label>
                            <a class="btn bc-primary rounded-bottom-0 d-block" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">انتخاب همکار</a>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                                        <div class="card card-body bc-primary tc-lightCyan rounded-top-0" id="newProjectModal_employeesList">
                                            @* <div class="form-check form-check-reverse">
                                                <input class="form-check-input bc-secondary hc-fs-paragraph2" type="checkbox" value="@Model.loggedInUser.Id" name="Employees" id="employeeCheck@item.Id" checked>
                                                <label class="form-check-label w-100 hc-fs-span1" for="employeeCheck@item.Id">
                                                    خودم
                                                </label>
                                            </div> *@
                                            @foreach (var item in Model.UsersList)
                                            {
                                                <div class="form-check form-check-reverse">
                                                    <input class="form-check-input bc-secondary hc-fs-paragraph2" type="checkbox" value="@item.Id" name="Employees" id="employeeCheck@item.Id">
                                                    <label class="form-check-label w-100 hc-fs-span1" for="employeeCheck@item.Id">
                                                        @item.FullName
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer bc-lightCyan">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                انصراف
                            </button>
                            <button type="submit" class="btn btn-success" id="btnAddNewProject">
                                افزودن پروژه جدید
                            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Add New Organization Modal -->
    <div class="modal fade" id="newOrganizationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header w-100 d-flex justify-content-between bc-lightCyan">
                    <h1 class="modal-title fs-5 text-black" id="newOrganizationModalTitle">
                        افزودن سازمان
                    </h1>
                    <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bc-darkBlue text-white">
                    <!-- Add new organization modal body -->
                    <form id="organizationForm" method="post" enctype="multipart/form-data">
                        <input type="text" name="Id" id="organizationForm_id" value="0" hidden />

                        <div class="mb-3">
                            <label for="formTitle" class="form-label">عنوان سازمان</label>
                            <input type="text" class="form-control border-0 tc-lightBlue fs-5 py-2 mb-3" id="organizationForm_title" name="Title" placeholder="تکمیل طراحی اولیه" />
                            <span class="text-danger" asp-validation-for="@Model.Organization.Title"></span>
                        </div>

                        <div class="modal-footer bc-lightCyan">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                انصراف
                            </button>
                            <button type="submit" class="btn btn-success" id="btnAddNewOrganization">
                                افزودن سازمان جدید
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Add New Tasks Modal -->
    <div class="modal fade" id="newTaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header w-100 d-flex justify-content-between bc-lightCyan">
                    <h1 class="modal-title fs-5 text-black" id="newTaskModalTitle">
                        افزودن وظیفه
                    </h1>
                    <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bc-darkBlue text-white">
                    <!-- Add new task modal body -->
                    <form id="taskForm" method="post" enctype="multipart/form-data">
                        <input name="Id" id="taskForm_id" hidden />

                        <div class="mb-3">
                            <label for="taskTitle" class="form-label">عنوان وظیفه</label>
                            <input type="text" class="form-control border-0 tc-lightBlue fs-5 py-2 mb-3" name="title" id="taskForm_title" placeholder="طراحی بنر">
                            <span class="text-danger" asp-validation-for="@Model.Task.Title"></span>
                        </div>

                        <div class="mb-3">
                            <label for="formPriority" class="form-label">اولویت</label>
                            <select class="form-select text-white" name="priority" id="taskForm_priority">
                                <option selected>این وظیفه چقدر مهم است؟</option>
                                <option value="1" class="bc-darkBlue">کم</option>
                                <option value="2" class="bc-darkBlue">معمولی</option>
                                <option value="3" class="bc-darkBlue">زیاد</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.Task.Priority"></span>
                        </div>

                        @{
                            Model.isUserLogin();
                        }

                        <div class="mb-3">
                            <label for="formAssignee" class="form-label">پروژه</label>
                            <div class="d-flex align-items-center mb-1">
                                @{
                                    var projectTitle = Model?.ProjectsList?.FirstOrDefault()?.Title ?? "";
                                    var projectId = Model?.ProjectsList?.FirstOrDefault()?.Id ?? 0;
                                }

                                <input type="text" class="form-control border-0 tc-lightBlue fs-5 py-2" id="taskForm_project" name="project" value="" data-id="" disabled>
                            </div>

                            <a class="btn bc-primary rounded-bottom-0 d-block" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">انتخاب پروژه</a>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                                        <div class="card card-body bc-primary tc-lightCyan rounded-top-0" id="newTaskModal_projectsList">
                                            @for (int i = 0; i < Model.ProjectsList.Count; i++)
                                            {
                                                var item = Model.ProjectsList[i];
                                                <div class="form-check form-check-reverse d-flex align-items-center">
                                                    <input class="form-check-input bc-secondary hc-fs-paragraph2 ms-2"
                                                           type="radio"
                                                           value="@item.Id"
                                                           name="project"
                                                           id="projectCheck@item.Id"
                                                           onchange="updateProject('@item.Title', '@item.Id')">
                                                    <label class="form-check-label w-100 hc-fs-paragraph3" for="projectCheck@item.Id">
                                                        @item.Title
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.Task.Project"></span>
                        </div>


                        <div class="mb-3">
                            <label for="formAssignee" class="form-label">اختصاص یافه به</label>
                            <div class="d-flex align-items-center mb-1">
                                <img src="@Model.loggedInUser.ImageName" class="ms-2" width="50" height="50" alt="" id="assigneeImage">
                                <input type="text" class="form-control border-0 tc-lightBlue fs-5 py-2" name="assignTo" value="@Model.loggedInUser.FullName" data-id="@Model.loggedInUser.Id" disabled id="taskForm_assignName">
                            </div>

                            <a class="btn bc-primary rounded-bottom-0 d-block" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">انتخاب مسئول</a>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                                        <div class="card card-body bc-primary tc-lightCyan rounded-top-0">
                                            @{
                                                <div class="form-check form-check-reverse d-flex align-items-center">
                                                    <input class="form-check-input bc-secondary hc-fs-paragraph2 ms-2" checked type="radio" value="@Model.loggedInUser.Id" name="Employees" id="employeeCheck@Model.loggedInUser.Id" onchange="updateAssignee('@Model.loggedInUser.FullName', '@Model.loggedInUser.ImageName', '@Model.loggedInUser.Id')">
                                                    <label class="form-check-label w-100 hc-fs-paragraph3" for="employeeCheck@item.Id">
                                                        خودم
                                                    </label>
                                                </div>
                                            }
                                            <div id="usersList_newTaskModal">
                                                @{
                                                    Model.GetUsersByProjectId(projectId);
                                                }
                                                @foreach (var item in Model.UsersList)
                                                {
                                                    <div class="form-check form-check-reverse d-flex align-items-center">
                                                        <input class="form-check-input bc-secondary hc-fs-paragraph2 ms-2" type="radio" value="@item.Id" name="Employees" id="employeeCheck@item.Id" onchange="updateAssignee('@item.FullName', '@item.ImageName', '@item.Id')">
                                                        <label class="form-check-label w-100 hc-fs-paragraph3" for="employeeCheck@item.Id">
                                                            @item.FullName
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.Task.Assignto"></span>
                        </div>


                        <div class="mb-3">
                            <label for="workReport" class="form-label">گزارش کار</label>
                            <div class="w-100 p-2 border border-light rounded-3">
                                <div class="row">
                                    <div class="col">
                                        <label for="estimatedTime" class="form-label hc-fs-paragraph2">زمان تخمینی</label>
                                        <input type="text" class="form-control border-0 tc-lightBlue fs-6 py-2" id="taskForm_estimateTime" name="estimateTime" placeholder="3h 30m">
                                        <span class="text-danger" asp-validation-for="@Model.Task.EstimateTime"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="taskDescription" class="form-label">توضیحات</label>
                            <textarea class="form-control border-0 tc-lightBlue fs-6 py-2" id="taskForm_description" name="description" rows="3"></textarea>
                            <span class="text-danger" asp-validation-for="@Model.Task.Description"></span>
                        </div>

                        <div class="modal-footer bc-lightCyan">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                انصراف
                            </button>
                            <button type="submit" class="btn btn-success" id="btnAddNewTask">
                                افزودن وظیفه جدید
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Add New Employee Modal -->
    <div class="modal fade" id="newEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header w-100 d-flex justify-content-between bc-lightCyan">
                    <h1 class="modal-title fs-5 text-black" id="staticBackdropLabel">
                        افزودن همکار
                    </h1>
                    <button type="button" class="btn-close mx-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bc-darkBlue text-white">
                    <!-- Add new project modal body -->
                    <form id="employeeForm" method="post" enctype="multipart/form-data">
                        <input name="Id" id="newEmployeeModal_employeeIdInput" hidden />

                        <div class="mb-3 d-flex flex-column" dir="ltr">
                            <div class="row text-end">
                                <label class="form-label hc-fs-paragraph2">نام کاربری</label>
                            </div>
                            <div class="input-group">
                                @{
                                    string atsine = "@";
                                }
                                <span class="input-group-text bc-darkBlue rounded-start-3 border-primary" id="basic-addon1">@atsine</span>
                                <input type="text" class="form-control border-0 tc-lightBlue fs-6 py-2" name="username" id="employeeUsername" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                <span class="text-danger" asp-validation-for="@Model.User.Username"></span>
                            </div>
                        </div>

                        <div class="modal-footer bc-lightCyan">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                انصراف
                            </button>
                            <button type="submit" class="btn btn-success">
                                <i class="fa-solid fa-paper-plane ms-2"></i>
                                ارسال درخواست همکاری
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>



    <!-- JQuery Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- Fontawesome Script -->
    <script src="https://kit.fontawesome.com/a904a1b9c2.js" crossorigin="anonymous"></script>

    <!-- Toastr Script -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Scripts v5.3 -->
    @{
        string popperjsUrl = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js";
    }
    <script src="@popperjsUrl"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>

    <!-- Custom Script -->
    <script src="/src/JS/userPanel.js"></script>

    <script>
        // add new project
        $(document).ready(function () {
            $('#projectForm').on('submit', function (e) {
                e.preventDefault(); // جلوگیری از ارسال فرم به صورت عادی

                var formData = new FormData(this);

                formData.append('orgId', $("#ddlOrganization").data("id"));

                $.ajax({
                    url: '@Url.Page("/Customer/UserPanel", "UpsertProject")',
                    method: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.err != null)
                            toastr.error(data.err, 'خطا');
                        else {
                            var list = $('#itemsList');
                            list.empty();
                            data.forEach(function (item) {
                                var codeBlock = getProjectCard(item);
                                list.append(codeBlock);
                            });
                            var addNewItemCard_codeBlock = getNewItemCard("#newProjectModal", "پروژه");
                            list.append(addNewItemCard_codeBlock);
                            //close modal
                            $('#newProjectModal').modal("hide");
                            // show success message
                            toastr.success('عملیات با موفقیت انجام شد', 'موفق');
                        }
                        //reset modal
                        $("#projectForm")[0].reset();
                    },
                    error: function () {
                        // show error message
                        toastr.error('عملیات با شکست مواجه شد', 'خطا');
                    }
                });
                updateProjectsList_newTaskModal($("#ddlOrganization").data("id"));
            });
        });

        // add new organization
        $(document).ready(function () {
            $('#organizationForm').on('submit', function (e) {
                e.preventDefault(); // جلوگیری از ارسال فرم به صورت عادی
                var formData = new FormData(this);
                $.ajax({
                    url: '@Url.Page("/Customer/UserPanel", "UpsertOrganization")',
                    method: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.err != null)
                            toastr.error(data.err, 'خطا');
                        else {
                            var list = $('#organizationsList');
                            list.empty();
                            data.forEach(function (item) {
                                var codeBlock = getOrganizationItems(item);
                                list.append(codeBlock);
                                // $('#ddlOrganization').html(item.title);
                            });
                            $('#ddlOrganization').text(data[0].title);
                            $('#ddlOrganization').data("id", data[0].id+'');
                            //close modal
                            $('#newOrganizationModal').modal("hide");
                            // show success message
                            toastr.success('عملیات با موفقیت انجام شد', 'موفق');
                        }
                        // reset modal
                        $("#organizationForm")[0].reset();
                    },
                    error: function () {
                        // show error message
                        toastr.error('عملیات با شکست مواجه شد', 'خطا');
                    }
                });
            });
        });

        // add new task
        $(document).ready(function () {
            $('#taskForm').on('submit', function (e) {
                e.preventDefault(); // جلوگیری از ارسال فرم به صورت عادی

                var formData = new FormData(this);

                var orgId = $("#ddlOrganization").data("id");
                var projectId = $("#taskForm_project").data("id");

                // بررسی مقدار orgId و projectId
                if (!orgId || !projectId) {
                    toastr.error('لطفا سازمان و پروژه را به درستی انتخاب کنید', 'خطا');
                    return;
                }


                formData.append('orgId', orgId);
                formData.append('projectId', projectId);


                $.ajax({
                    url: '@Url.Page("/Customer/UserPanel", "UpsertTask")',
                    method: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.err != null)
                            toastr.error(data.err, 'خطا');
                        else {
                            var list = $('#itemsList');
                            list.empty();
                            data.forEach(function (item) {
                                var codeBlock = getTaskCard(item);
                                list.append(codeBlock);
                            });
                            var addNewItemCard_codeBlock = getNewItemCard("#newTaskModal", "وظیفه");
                            list.append(addNewItemCard_codeBlock);
                            //close modal
                            $('#newTaskModal').modal("hide");
                            // show success message
                            toastr.success('عملیات با موفقیت انجام شد', 'موفق');

                            // Reset form
                            $('#taskForm')[0].reset();
                        }
                    },
                    error: function () {
                        // show error message
                        toastr.error('عملیات با شکست مواجه شد', 'خطا');
                    }
                });
            });
        });

        // add new employee
        $(document).ready(function () {
            $('#employeeForm').on('submit', function (e) {
                e.preventDefault(); // جلوگیری از ارسال فرم به صورت عادی

                var formData = new FormData(this);

                formData.append('orgId', $("#ddlOrganization").data("id"));

                $.ajax({
                    url: '@Url.Page("/Customer/UserPanel", "AddEmployee")',
                    method: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.err != null)
                            toastr.error(data.err, 'خطا');
                        else {
                            var list = $('#itemsList');
                            list.empty();
                            data.forEach(function (item) {
                                var codeBlock = getEmployeeCard(item);
                                list.append(codeBlock);
                            });
                            var addNewItemCard_codeBlock = getNewItemCard("#newTaskModal", "وظیفه");
                            list.append(addNewItemCard_codeBlock);
                            //close modal
                            $('#newEmployeeModal').toggleClass("show");
                            document.getElementById("newEmployeeModal").style = "display: none";
                            $('.modal-backdrop').remove();
                            // show success message
                            toastr.success('درخواست همکاری با موفقیت ارسال شد', 'موفق');
                        }
                    },
                    error: function () {
                        // show error message
                        toastr.error('ارسال درخواست همکاری با شکست مواجه شد', 'خطا');
                    }
                });
            });
        });
    </script>
</body>

</html>